@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;

}

html, body{
    height: 100%;
    min-height: 100%;
    background-color: rgb(228, 228, 228);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container{
	width: 100%;
	max-width: 1200px;
    margin:0 auto;

}

.clear{
    clear: both;
}

header{
    /* background-color: rgb(184, 18, 68); */
    background-color:#0b8b50;
    padding: 10px 2% 30px 2%;
    margin-bottom: 30px;

}

footer{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #0b8b50;
        color: white;
        text-align: center;
        margin-top: auto;
}
.logo-1{
    float: left;
    width: 120px;
    height: 50px;
    background-image: url('../images/if.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

section.cover-form{
	width: 100%;
}

.container h2{
    color: rgb(230, 228, 228); 
}

.bt {
    margin-bottom: 30px;
    width: 100%;
    height: 35px;
    padding:5px;
    border: solid 2px rgb(0, 113, 206);
    background-color: rgb(0, 113, 206);
    color:  rgb(233, 233, 233);
    font-size:16px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration:none;
    font-weight: bold;
}

.bt:hover {
    transition: 0.4s;
    color: rgb(0, 113, 206);
    background-color: rgb(228, 228, 228);
    font-weight: bold;
}

table {
    margin-top: 30px;
    width: 100%;
}

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 10px;

}

.content-table thead tr{
    background-color:#0b8b50;
    color: rgb(228, 228, 228);
    text-align: left;
    font-weight: bold;

}

.content-table th{
    padding: 15px;
}

.content-table td {
    padding:12px 15px;
}

.content-table tbody tr{

    border-bottom: 1px solid #dddddddd;

}

.content-table tbody tr:nth-of-type(even){
    background-color: #a1e4c8;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #0b8b50;
}

.content-table tbody tr:nth-of-type(even) {
    font-weight: bold;
    color: #0b8b50;
}

img{
    margin-right: 10px;
}

.col-y{
    background-color: rgb(255, 189, 9);
    color: rgb(29, 29, 29);
    border:2px solid rgb(255, 189, 9);
}

.col-g{
    background-color: rgb(0, 184, 83);
    color: rgb(29, 29, 29);
    border:2px solid rgb(0, 184, 83);
}
.col-g:hover{
    color:rgb(0, 184, 83);
    background-color: rgb(29, 29, 29);
    border:2px solid rgb(0, 184, 83);
}
.col-y:hover{
    color:rgb(255, 189, 9);
    background-color: rgb(29, 29, 29);
    border:2px solid rgb(255, 189, 9);
}

.col-red{
    background-color: rgb(255, 9, 50);
    color: rgb(255, 255, 255);
    border:2px solid rgb(255, 9, 50);
}

.col-red:hover{
    color:rgb(255, 9, 50);
    background-color: rgb(29, 29, 29);
    border:2px solid rgb(255, 9, 50);
}

.cover-form{
    width: 100%;
    padding: 0;
    margin-top: 10px;
}

.bg{
    position: relative;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-image: url('../images/BG.png');
    border-radius: 3px;
}

.form-container{
	position: absolute;
	right: 30px;
	z-index: 2;
	top: -3.5%;
	width: 400px;
	height: 110%;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
    background-color: #161616f3;;
    border-radius: 3px;
    
}

.form-container h2 {
    font-weight: normal;
    padding: 15px;
    color:  rgb(233, 233, 233);
    font-size:18px;
    background-color: rgb(49, 49, 49);
    border-radius: 3px;
}

.form-container form{
   padding: 15px;

}

.form-container form p{
    color:rgb(233, 233, 233);
    margin-top:10px;
    margin-bottom: 10px;
}

.form-wrape:not(:first-child){
    margin-top:10px;
}

.form-container  form input[type=text]{
    width: 100%;
    height: 35px;
    padding:5px;
    border: solid 1px #CCC;
    background-color: rgb(243, 243, 243);
    color:  rgb(43, 43, 43);
    font-size:16px;
    border-radius: 3px;

}
.form-container  form input[type=number]{
    width: 100%;
    height: 35px;
    padding:5px;
    border: solid 1px #CCC;
    background-color: rgb(243, 243, 243);
    color:  rgb(43, 43, 43);
    font-size:16px;
    border-radius: 3px;


}
.form-container  form input[type=date]{
    width: 100%;
    height: 35px;
    padding:5px;
    border: solid 1px #CCC;
    background-color: rgb(243, 243, 243);
    color:  rgb(43, 43, 43);
    font-size:16px;
    border-radius: 3px;


}
.form-container  form select{
    width: 100%;
    height: 35px;
    padding:5px;
    border: solid 1px #CCC;
    background-color: rgb(243, 243, 243);
    color:  rgb(43, 43, 43);
    font-size:16px;
    border-radius: 3px;


}
.form-container  form input[type=phone]{
    width: 100%;
    height: 35px;
    padding:5px;
    border: solid 1px #CCC;
    background-color: rgb(243, 243, 243);
    color:  rgb(43, 43, 43);
    font-size:16px;
    border-radius: 3px;


}

.form-container form input[type=submit]{

    width: 100%;
    height: 35px;
    padding:5px;
    border: solid 1px #CCC;
    background-color: rgb(243, 243, 243);
    color:  rgb(43, 43, 43);
    font-size:16px;
    border-radius: 3px;
    cursor: pointer;


}

.form-container form input[type=submit]:hover{

    font-size:16px;
    transition: 0.4s;
    box-shadow: 1px 1px 6px 0 rgba(255, 255, 255, 0.274);

}

.info{
    font-size:14px;
}

section.chamada{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    text-align:center;
}

section.chamada .container{
    padding:40px 0;
    background-color: #0b8b50;
}

section.chamada h2{
    width: 96%;
    max-width: 700px;
    display: inline-block;
    font-size:30px;
    font-weight: normal; 
    color: rgb(233, 233, 233);
}

section.chamada h3{
    margin-top:30px;
    width: 96%;
    max-width: 700px;
    display: inline-block;
    font-size:24px;
    font-weight: lighter; 
    color: rgb(233, 233, 233);
}
.social{
    width: 100%;
    height: 220px;
    font-weight: normal;
    padding: 15px;
    color:  rgb(233, 233, 233);
    font-size:18px;
    background-color: rgba(49, 49, 49, 0.342);
    border-radius: 3px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 0 rgba(255, 255, 255, 0.274);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }



@media screen and (max-width: 1024px){

	.bg{
		height: auto;
		padding: 80px 0;
		text-align: center;
	}

	.form-container{
		text-align: left;
		height: auto;
		width: 96%;
		max-width: 400px;
		position: static;
		display: inline-block;
	}
}

@media screen and (max-width: 768px){

	.flex-mosaico{
		display: block;
	}

	.item-1-mosaico{
		padding-top:80%;
		width: 100%;
	}

	.item-2-mosaico{
		text-align: justify;
		width: 100%;
	}
}

@media screen and (max-width: 510px){

	header{
		text-align: center;
    }
    
    footer{
        width: 100%;
        background-color: #0b8b50;
        color: white;
        text-align: center;
}
	[class^="logo"]{
		margin-top:10px;
		display: inline-block;
		float: none;
	}

}


